.top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.table {
    display: grid;
    height: 800px;
    width: 800px;
    border: 1vh double rgb(88, 65, 190);
    margin: auto;
}

.grid {
    border: 1px solid black;
    margin:0 -1px -1px 0;
}